
.nav {
  display: flex;
  gap: 60px;
}

.navLink {
  padding: 5px;
  color: inherit;
}

.navLink.active {
  color: var(--color-primary);
}

.navLink.dropdown {
  position: relative;
}

.navLink.dropdown::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/icons/triangle-down.svg');
}